<div id='main'>
    <div class='homepage-card'>
        <h1>Nodebucket task management</h1>
  
    <div id='main'>
      <div class='homepage-card'>
          <h2>We believe in making life easier. One task management software for all your need.</h2><br>
        <p>nodebucket helps you manage your tasks in an easy visual way.</p>
          </div>
          <div class='parent' fxLayout='row'
          fxLayout.xs="column"
          fxLayoutAlign="center center">
      <div>
        <img class='-image' src="../../../assets/images/task.jpg" alt="task management-image" width="600" height="400">
      
      </div>
      <mat-card class='right' fxFlex='90%'>
  
        <h2>Nodebucket </h2>
        <hr>
        <p>nodebucket helps you manage your tasks in an easy visual way</p>
        <button mat-raised-button color='accent' routerLink='/signin'>Task Management Service</button>
    </mat-card>
  </div>
  </div>