<div id='main'>
  <div class='contact-card'>
      <h1>404</h1>
      <br />


<div flLayout="column">
    <mat-card fxLayout style="margin-top: 15%; width: 50%; margin-left: 25%;" class="mat-elevation-z8">
      <mat-card-title style="text-align: center; font-size: 48px;" class="mat-headline">Oops!</mat-card-title><br>
      <mat-card-subtitle style="text-align:justify: center; font-size: 40px;" class="mat-headline">Page not found</mat-card-subtitle>
      <!-- add image and attribution -->
      <mat-card-content style="text-align: center">
        <div>
          <img class='-image' src="../../../assets/images/404.png" alt="OOPS SORRY 404" width="500" height="500">
        
        </div>
        <button mat-raised-button color="primary" routerLink="/">Return to dashboard</button>
      </mat-card-content>
    </mat-card>
  </div>