<div id='main'>
    <div class='contact-card'>
        <h1>About Us</h1>
        <br />
            <p>Our vision is to support you with outstanding task management services. Nodebucket is an employee management system where you can keep track of your work tasks. It's as simple as signing in and assigning yourself
				new tasks
			</p>
			<h2>What to Expect from Us</h2><br>


    <div class="row">
      <div class="col-lg">
        <img class="mb-4 img-fluid rounded" src="../../../assets/images/time.jpg" height="100%" width="100%" alt="time">

        <h3 class="mb-4">Time management</h3>
		<p>Assign owners to new tasks, prioritize each item, set due dates and more - all in a simple, colorful platform</p>
      </div>
      <div class="col-lg">
        <img class="mb-4 img-fluid rounded" src="../../../assets/images/handillus.jpg" height="80%" width="50" alt="graduation">

        <h3 class="mb-4">Manage tasks on the go</h3>

        <p>Never miss another important deadline.</p>
     
      
      </div>
      <div class="col-lg">
        <img class="mb-4 img-fluid rounded" src="../../../assets/images/manage.jpg" height="100%" width="100%" alt="graduation">

        <h3 class="mb-4">Get organize</h3>
		<p>See where things stand at any time no matter where you are on your mobile, laptop or desktop access.</p>
      </div>
    </div>

		<br/>
		<div class="card">

			<div class="card-body">
			  <h2 class="card-title">Contact us!</h2>
			  <p class="card-text"><p>If you are having technical difficulty, feel free to <a routerLink='/contact'>contact us</a>.
				<br>
				<strong>Email:</strong> nodebucket@gmail.com
				<br>
				<strong>Phone:</strong> (714) 123-4567
			  <a href="#" class="btn btn-primary">We're here to help</a> </p>
			</div>

		

  
