
<div fxLayout="column" class="main-welcome" fxLayoutGap=10px>
	<h1 fxFlex class="title">
	  nodebucket 101<br />
	  <span class="subtitle">
		Facts about our task management application
	  </span>
	</h1>
	<div class="about-content">
	  <mat-divider></mat-divider>
	  <br />
	  <p class="mat-body-for">
		<span class="p-title mat-headline">Overview</span><br />
		nodebucket is an employee management system where you can keep track of your work tasks. It's as simple as signing in and assigning yourself
		new tasks
	  </p>
	  <!-- add image and attribution -->
	  <br />
	  <p class="mat-body-for">
		<span class="p-title mat-headline">Schedule</span><br />
		Details about nodebucket
		<!-- 250 word minimum -->
	  </p>
	</div>
  </div>