<div fxLayout="column" class="main-welcome">
  <h1 class="title">
    Welcome to WEB 450's - nodebucket Project <br />
    <span class="subtitle">
      Pay close attention to the requirements, double and triple check the files for code attribution, and do not wait unitl the last minute to begin working on each item.
    </span>
  </h1>
</div>
 
<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar">
      <h1 class="title has-text-primary">
        Lists
      </h1>
    </div>

    <div class="task-list-container">
      <h1 class="title has-text-primary">
        Lists
      </h1>
       
    </div>
  </div>
</div>